.nav_bar {
  position: absolute;
  z-index: 9;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar_brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #fff;
}

.navbar_brand:hover,
.navbar_brand:focus {
  color: #fff;
  text-decoration: none;
}

.navbar_nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav_link {
  display: block;
  padding: 0.5rem 1rem;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fffbf2;
  color: rgba(255, 255, 255, 0.5);
}

.nav_link:hover,
.nav_link:focus {
  color: #da9f5b;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.active_nav_link {
  color: #da9f5b !important;
}

.nav_link.disabled {
  color: #6c757d;
  color: rgba(255, 255, 255, 0.25);
  pointer-events: none;
  cursor: default;
}

.navbar_text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.navbar_text a {
  color: #fff;
}

.navbar_collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar_toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar_toggler:hover,
.navbar_toggler:focus {
  text-decoration: none;
}

.navbar_toggler_icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* منوی موبایل */
.mobile_menu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background: #33211d;
  z-index: 999;
  overflow-y: auto;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 300ms ease;
  padding: 0;
}

.menu_open {
  max-height: 100vh;
  opacity: 1;
  padding: 10px 0;
}

.menu_close {
  max-height: 0;
  opacity: 0;
  padding: 0;
}

/* Dropdown Styles */
.dropdown_menu {
  position: static;
  float: none;
  display: none;
  position: absolute;
  top: 65%;
  right: 78px;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #555555;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown_menu.show {
  display: block;
}

.dropdown:hover .dropdown_menu {
  display: block !important;
}

.dropdown_item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown_item:hover,
.dropdown_item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown_item.active,
.dropdown_item:active {
  color: #fff;
  text-decoration: none;
  background-color: #da9f5b;
}

.dropdown_item.disabled,
.dropdown_item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.dropdown_header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.dropdown_item_text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529;
}

.dropdown_toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* Search Styles */
.searchbox {
  max-width: 100%;
  margin: 10px auto;
}

.search_icon {
  position: absolute;
  right: 5px;
  cursor: pointer;
  color: white;
  top: 15px;
}

.search_input {
  background: transparent;
  border: 0px;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: 0;
  color: white;
  padding-bottom: 11px;
  padding-right: 35px;
  position: relative;
  bottom: 3px;
}

.search_input::placeholder {
  color: white;
}

/* Responsive Styles */
@media (max-width: 991.98px) {
  .nav_bar {
    position: relative;
    background: #33211d;
  }

  .navbar_nav {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .dropdown_menu {
    position: static !important;
    background: inherit;
    padding-left: 20px;
    margin-top: 5px;
    border: none;
  }
}

@media (min-width: 992px) {
  .navbar {
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .navbar_nav {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav_link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar_collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar_toggler {
    display: none;
  }

  .mobile_menu {
    display: none !important;
  }

  .desktop_menu {
    display: flex !important;
  }

  .dropdown_menu {
    position: absolute;
    background: #33211d;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    display: none;
    min-width: 10rem;
  }

  .dropdown:hover .dropdown_menu {
    display: block !important;
  }

  .dropdown_item:hover,
  .dropdown_item:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
  }
}

@media print {
  .navbar {
    display: none;
  }
}